<!DOCTYPE html>

<style>
    body{
      background-color: #c06014;
      background-image: url("http://www.coolwallpapers.me/download/2112/Abstract_Orange_Space_Clouds.jpg/");
      opacity: .9;

    }
    </style>



<div id="signRegMid">

    <div id="spacer">

    </div>

    <input type="text" placeholder="Username..." ng-model="vm.username">
    <br></br>
    <input type="password" placeholder="Password..." ng-model="vm.password">
    <br></br>
    <button type="button" ng-click="vm.login()"  class="btn btn-warning">Login</button>


    <h1 style="color: orange;">Dont have an account?</h1>
      <h2 > <a href="register" id="register" style="color: #c06014;">Register Here</a> </h2>
    </div>
